
#logo-photograph-header {
    margin-left: 100px;
    justify-content: flex-start;
}


#contact_modal {
    display: none;
}
/************************** le bandeau du photographe *********************/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header_img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.photograph-header_img:focus {
    outline: 3px solid #db8876; 
    border-radius: 50%;
}

.photograph-header  h1 {
    color: #D3573C;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    margin: 0px;
    height: 80px;
    margin-bottom: 50px;
}

.photograph-header h1:focus , .contact_button:focus, #name:focus, .image_photographer:focus, .video_photographer:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
}

.button:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
}
    
.contenair-villepaysphrase {
    height: 66px;
}

.contenair-villepaysphrase:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
}

.header-phrase_photographe {
    color: #000000;
    font-size: 14px;
    margin-top: 12px;
}

.photograph-header  p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    width: 360px;
}

p .header-phrase_photographe {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

/************************formulaire****************************/

.contact_button {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background: #D3573C;
    transition: 0.3s;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 40px;
    margin: auto;
    position: absolute;
    top: 1.5%;
    left: 25%;
    right: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-left: 0px;
}

.modal header img {
    cursor: pointer;
}

.modal header img:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.modal header img:focus {
    outline: 3px solid #000000;
    border-radius: 5px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

.modal header h2:focus {
    outline: 3px solid #000000;
    border-radius: 5px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-bottom: 15px;
    margin-left: 0px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 0px;
    margin-top: 30px;
}

form input {
    font-size: 24px;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    font-size: 24px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100px;
}

#error-first, #error-last, #error-email, #error-message {
    font-size: 19px;
    color: #660000;
    margin-top: 3px;
    margin-bottom: 5px;
    display: none;
  }

form .contact_button:focus {
    outline: 3px solid #000000; 
    border-radius: 5px;
}

/******************* filtre "trier par" ************************/
label {
    margin: 20px 0px 0px 100px;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    width: 255px;
    align-items: center; 
}

select {
    color: white;
    background: #911C1C;
    border-radius: 5px;
    Width: 170px;
    height: 55px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer; 
}
/********************** section des medias" *********************/
#media_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 100px 100px;
}

#media_section a {
    cursor: pointer;
}

.article_media {
    margin-top: 30px;   
}

.image_photographer, .video_photographer {
    border-radius: 5px;
    width: 430px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
}

.image_photographer:hover, .video_photographer:hover {
    box-shadow: 0 0 14px rgb(0 0 0 / 40%);
    opacity: 0.7;
    transition: ease-in-out 0.4s;
}

.conteneur_title_likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like_numbers {
   display: flex;
}

.like_numbers:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
 }

.media_title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;  
}

.media_title:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
}

/****************lightbox******************/

#carroussel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    top: 0px;
    display: none;
}

#carroussel-box {
    width: 70%;
    height: 80%;
}

.lightbox {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 0 8px rgb(0 0 0);
}

.lightbox:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
}

.close_carroussel {
    display: flex;
    width: 42px;
    height: 42px;
    background-color: #ff0000;
}

#croix-image {
    right: -50px;
    top: -363px;
    position: relative;
    cursor: pointer;
}

#croix-image:hover {
    opacity: 0.5;
}

#croix-image:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
}

.chevron-left {
    height: 42px;
    position: relative;
    right: 50px;
    cursor: pointer;
}

.chevron-right {
    height: 42px;
    position: relative;
    left: 5px;
    cursor: pointer;
}

.chevron-left:hover, .chevron-right:hover {
    opacity: 0.5;
    transition: .3s;
}

.chevron-left:focus, .chevron-right:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
}

.title-lightbox {
    font-size: 24px;
    color: #901C1C;
}

.title-lightbox:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
}

/****************encart totallikes******************/

.counter_like-media {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px; 
}

.heart_icone-media {
    color: #911C1C;
    width: 22px;
    margin-left: 10px;
}

.heart_icone-media:hover {
    cursor: pointer;
}

.counter_like {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 376px;
    height: 89px;
    position: fixed;
    right: 3%;
    bottom: 0%;
    background: #DB8876;
    border-radius: 5px;
    padding: 0px;
    border: none;
}

.counter_like:focus {
    outline: 3px solid #000000; 
    border-radius: 5px; 
}

.all_like {
    color: black;
}

.total_hearts {
    color: black;
    font-size: 24px;
    margin-top: 5px
}

.total_hearts:focus {
    outline: 3px solid #000000; 
    border-radius: 5px;
}

.all_heart_display {
    display: flex;
}

.black-heart {
    width: 23px;
    margin-left: 5px;
    margin-right: 50px;
}

.price {
    font-size: 24px;
    color: #000000;
}

