@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h1:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;    
}

/*ajout de style pour lien qui comprend l'image et le h2 avec bordure de couleur pour le focus*/
a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;  
}

a:focus {
    outline: 3px solid #db8876; 
    border-radius: 5px;             
}

/**********************************************/

p {
    color: #901C1C;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 17px;
}
/*ajout de style pour le texte des photographes*/
.phrase_photographe {
    color: #000000;
    font-size: 14px;
}

.tarif_photographe {
    color: #757575;
    font-size: 14px;
}
/**********************************************/
.logo {
    height: 50px;
    margin-left: 100px;  
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 0px;
}

.photographer_section article img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.photographer_section article img :focus {      
    cursor: pointer; 
}
